body

{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Bachalpsee_reflection.jpg/250px-Bachalpsee_reflection.jpg");
    background-position: 100% 10% ;
    background-repeat: no-repeat;
    
}