.C1{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Shaqi_jrvej.jpg/250px-Shaqi_jrvej.jpg");
    background-repeat: no-repeat;
    background-position: right center;

}
.C2{
background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Bachalpsee_reflection.jpg/250px-Bachalpsee_reflection.jpg");

background-position: 25% 75%;
background-repeat: no-repeat;

}
